




























  

{% extends "layout.html" %} {% load crispy_forms_tags %} {% block body1 %}



<div>

<div style="margin-top:220px;margin-right: 20px;margin-left: 20px; " > 


<div class="form-login" >



    <div class="form-login__social" >



        <ul class="social">
            <li><a href="http://www.google.com"><img src="/static/assets/img/twitter.svg" alt="google"></a></li>
            <li><a href="http://www.facebook.com"><img src="/static/assets/img/facebook.svg" alt="facebook"></a></li>
            <li><a href="http://www.twitter.com"><img src="/static/assets/img/twitter.svg" alt="twitter"></a></li>
        </ul>
    </div>
    <div class="form-login__box" >


        <form method="post" enctype="multipart/form-data" style="margin-bottom: -10px;">
          {% csrf_token %} 

          <div  class="uk-heading-line uk-text-center" style="margin-bottom:-45px;margin-top: 10px;" ><small>Kullanıcı Adın</small></div>


            <div class="uk-margin"><input class="uk-input" type="text" style="max-height: 40px;" placeholder="Kullanıcı Adı" id="{{form.username}}</div>

            <div  class="uk-heading-line uk-text-center" style="margin-bottom:-45px" ><small>Şifren</small></div>

            <div class="uk-margin"><input class="uk-input" type="password" style="max-height: 40px;" placeholder="Şifre" id="{{form.password}}</div>


          <div  class="uk-heading-line uk-text-center" style="margin-top: 35px;margin-bottom:-65px" ></div>

            <div type="submit" class="uk-margin btn"><button style="max-height: 40px;" class="uk-button uk-button-danger uk-width-1-1" type="submit" >Giriş Yap</button></div>

        </form>


          
    </div>
</div>
</div>
</div>
{% endblock body1 %}





{% block colorforyou %}  style="background-image: url(/static/images/logs.png);image-size"> {% endblock colorforyou %}




